/* колір основного тексту #757575 */
/* колір заголовків #212121 */
/* колір заголовку #000000 #2196F3 */
/* колір акценту #2196F3 */
/* колір акцентного тексту #FFFFFF */
/* колір фону #FFFFFF */
/* вторинний колір фону #F5F5F5 */
/* колір фону футер #2F303A */
/* колір тексту футер #FFFFFF*/

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --accent-s-color: #188CE8;
    --primery-logo-color: #000000;
    --secondary-logo-color: #FFFFFF;
    --primary-bg-button-color: #F5F4FA;
    --accent-br-button-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --primary-bg-color: #F5F5F5;
    --link-color: rgba(255, 255, 255, 0.6);
    --border-color: #eeeeee;
    --shadow-color: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --bg-box-color: rgba(245, 244, 250, 1);
    --clients-boxes: rgba(175, 177, 184, 1);
    --footer-soc-color: rgba(255, 255, 255, 0.1);
    --box-shadow-one: 0px 1px 1px rgba(0, 0, 0, 0.12);
    --box-shadow-two: 0px 4px 4px rgba(0, 0, 0, 0.06);
    --box-shadow-three: 1px 4px 6px rgba(0, 0, 0, 0.16);
    --box-shadow-button-one: 0px 3px 1px rgba(0, 0, 0, 0.1); 
    --box-shadow-button-two: 0px 1px 2px rgba(0, 0, 0, 0.08);
    --box-shadow-button-three: 0px 2px 2px rgba(0, 0, 0, 0.12);
    --box-shadow-pr-but: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --box-img: rgba(47, 48, 58, 0.8);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --backdrop-bt-color: rgba(0, 0, 0, 0.1);
    --stodio-text-color: rgba(33, 150, 243, 0.9);
    --input-color: rgba(33, 33, 33, 0.2);
}

h1,
h2,
h3,
h4,
h5,
h6,
p { 
    margin-top: 0; 
    margin-bottom: 0; 
    padding: 0;
}

img {
    display: block;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

body {
    box-sizing: border-box;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    background-color: var(--secondary-logo-color);
}
ul {
    list-style: none;
}

/* logo */

.logo-header {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration-line: none;

    color: var(--primery-logo-color);
}
.logo-element {
    text-decoration-line: none;

    color: var(--accent-color);
}
.logo-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration-line: none;

    color: var(--secondary-logo-color);
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-header .container {
    display: flex;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;
}

.logo-header {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: 50;
}

.list-nav {
    display: flex;
    gap: 50px;
}

.list-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
    
    gap: 30px;
}


/* nav */


.list-nav .link {
    display: block;
    padding: 32px 0;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line: none;
    position: relative;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    color: var(--primary-text-color);
}
.list-nav .link:hover,
.list-nav .link:focus {
    color: var(--accent-color);
}
.link.current {
    color: var(--accent-color);
}
.current::after {
    display: block;
    position: absolute;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    justify-content: center;
    text-decoration-line: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--title-text-color);
}
.list-contacts .contact:hover,
.list-contacts .contact:focus {
    color: var(--accent-color);
}

.contact .icon,
.contact .icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);

    margin-right: 10px;
    fill: currentColor;
}


/* SVG */

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--bg-box-color);
}

/* buttons */

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}


.button {
    border-radius: 4px;
    padding: 6px 25px;
    border: none;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--primary-text-color);
    background-color: var(--primary-bg-button-color);
}
.button:hover,
.button:focus {
    cursor: pointer;
    color: var(--accent-br-button-color);
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-button-one), 
        var(--box-shadow-button-two), 
        var(--box-shadow-button-three);
}

.primery-button {
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 32px;
    border: none;

    font-family: inherit;
    letter-spacing: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    color: var(--accent-br-button-color);
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-pr-but);
}
.primery-button:hover,
.primery-button:focus {
    cursor: pointer;
    color: var(--accent-br-button-color);
    background-color: var(--accent-s-color);
}

/* main секія 1 сторінка */

.main-title {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--secondary-bg-color);

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/Img-2-2.jpg);
}
.main {
    margin-right: auto;
    margin-left: auto;
    width: 696px;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-br-button-color);
}

/* featur page */

.list-feature {
    padding-top: 94px;
    padding-bottom: 94px;
}

.set-feature,
.set-img,
.set-command {
    display: flex;
}

.set-feature {
    gap: 30px;
}
.set-feature:nth-child(4n) {
    gap: 0;
}
.card-set {
    width: 270px;
}
.feature-description {
    margin-top: 10px;
}

.services {
    padding-bottom: 94px;
}
.set-img {
    margin-top: 50px;
}
.list-img {
    margin-right: 30px;
}
.list-img:nth-child(3n) {
    margin-right: 0;
}

.title-none {
    position: absolute;
    white-space: nowrap;
    width: 1px; 
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px; 
}



.title,
.title-team,
.title-clients {
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.box-img {
    position: relative;
    
    
}
.box-img > .img-item {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    height: 70px;
    width: 370px;

    padding: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: var(--box-img);
    color: var(--accent-br-button-color);
}

.list-clients {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--accent-br-button-color);
}


.feature {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.feature-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}


/* team page */

.set-command {
    margin-top: 50px;
    display: flex;
}
.card-team {
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    background-color: var(--secondary-logo-color);
    box-shadow: var(--shadow-color);
}
.card-team:nth-child(4n) {
    margin-right: 0;
}
.person {
    padding-top: 30px;
    padding-bottom: 30px;
}

.list-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primary-bg-button-color);
}
.name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.work {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 10px;
}
.soc-item {
    width: 44px;
    height: 44px;
}
.soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.studio-soc-icon {
    fill: var(--clients-boxes);
}
.soc-link:hover,
.soc-link:focus {
    background-color: var(--accent-color);
}
.soc-link:hover .studio-soc-icon,
.soc-link:focus .studio-soc-icon {
    fill: var(--accent-br-button-color);
}

/* Clients */

.clients-item {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}
.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 170px;
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);

    border: 1px solid var(--clients-boxes);
    color: var(--clients-boxes);
}
.client-link:hover,
.client-link:focus {
    border-color: var(--accent-color);
}
.client-icon {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);

    fill: var(--clients-boxes);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
    fill: var(--accent-color);
}

/* works */ 

.works {
    padding-top: 94px;
    padding-bottom: 94px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-element {
    margin-right: 30px;
    margin-bottom: 30px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    
    background-color: var(--accent-br-button-color);
}

.flex-element:hover .studio-text {
    transform: translateY(0%);
}

.flex-element:hover,
.flex-element:focus {
    box-shadow: var(--box-shadow-one), var(--box-shadow-two), var(--box-shadow-three);
}

.flex-element:nth-child(3n) {
    margin-right: 0;
}
.flex-element:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.content-box {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 1px solid var(--border-color);
    border-top: none;
}

.studio-wrap {
    position: relative;
    overflow: hidden;
}
.studio-text {
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding-top: 63px;
    padding-left: 24px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--accent-br-button-color);
    background-color: var(--stodio-text-color);
}

.work-list {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.description {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.87;
    color: var(--title-text-color);
}

/* футер */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-color);
}
.footer-icon {
    display: flex;
    align-items: baseline;
}
.contacts-list {
    margin-top: 20px;
}

.contacts-list .contacts-item:not(:last-child) {
    margin-bottom: 9px;
}

.contacts-list .link-s-footer {
    line-height: 1.7;
    font-style: normal;
    text-decoration-line: none;
    color: var(--accent-br-button-color);
}
.contacts-list .link-footer {
    font-style: normal;
    text-decoration-line: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    line-height: 1.7;

    color: var(--link-color);
}
.contacts-list .link-footer:hover,
.contacts-list .link-footer:focus {
    color: var(--accent-color);
}

.follow {
    margin-left: 70px;
}
.follow-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-br-button-color);
}

.follow-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
.follow-item-footer {
    width: 44px;
    height: 44px;
}
.follow-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--footer-soc-color);
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.follow-icon {
    fill: var(--accent-br-button-color);
}
.follow-link:hover,
.follow-link:focus {
    background-color: var(--accent-color);
}
.follow-icon:hover .follow-icon,
.follow-icon:focus .follow-icon {
    fill: var(--accent-br-button-color);
}

.online {
    margin-left: 93px;
}

.online-form {
    display: flex;
    margin-top: 20px;
}

.online-imput {
    cursor: pointer;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
}

.online-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding: 0 28px;

    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    color: var(--accent-br-button-color);
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-pr-but);
    border-radius: 4px;
    border: none;
}
.online-button:hover,
.online-button:focus {
    background-color: var(--accent-s-color);
}

.online-svg {
    margin-left: 10px;
    fill: var(--accent-br-button-color);
}


/* --------- modal ---------- */


.backdrop {
    position: fixed;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    background-color: var(--backdrop-color);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: inherit;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    transform: translate(-50%, -50%) scaleY(1);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    height: 581px;
    width: 528px;
    background-color: var(--accent-br-button-color);
    box-shadow: var(--shadow-color);
    border-radius: 4px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.backdrop-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;

    border-radius: 50%;
    background-color: var(--accent-br-button-color);
    border: 1px solid var(--backdrop-bt-color);
}
.button-sv {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);

    fill: var(--primery-logo-color);
}
.button-sv:hover {
    fill: var(--accent-color);
}

.modal-title {
    font-style: normal;
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}


.input-wrap {
    position: relative;
    margin-bottom: 10px;
    
}

.modal-imput {
    margin-top: 4px;
    width: 100%;
    height: 45px;
    padding-left: 35px;
    cursor: pointer;
    
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);

    border-radius: 4px;
    border: 1px solid var(--input-color);
    outline: none;
    font-size: 14px;
}


.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-50%);
    fill: var(--primary-text-color);
}

.modal-imput:hover + .modal-icon {
    fill: var(--accent-color);
}
.modal-imput:hover {
    border-color: var(--accent-color);
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--title-text-color);
}



.modal-filed {
    margin-top: 20px;
}

.check-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.text-element {
    text-decoration: underline;
    margin-left: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 7px;
    fill: transparent;
}

.modal-check:checked + .check-text span {
    background-color: var(--accent-color);
    border: 0;
    fill: var(--accent-br-button-color);
}

.imput-massege {
    margin-top: 4px;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid var(--input-color);
    outline: none;
    border-radius: 4px;
    resize: none;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 12px;    
}

.imput-massege:hover {
    border-color: var(--accent-color);
}

.send-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.modal-button {
    border-radius: 4px;
    padding: 10px 52px;
    border: none;
    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--accent-br-button-color);
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-pr-but);
}
.modal-button:hover,
.modal-button:focus {
    background-color: var(--accent-s-color);
}

.visually-hidden {
    display: none;
}

