/* колір основного тексту #757575 */
/* колір заголовків #212121 */
/* колір заголовку #000000 #2196F3 */
/* колір акценту #2196F3 */
/* колір акцентного тексту #FFFFFF */
/* колір фону #FFFFFF */
/* вторинний колір фону #F5F5F5 */
/* колір фону футер #2F303A */
/* колір тексту футер #FFFFFF*/

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --accent-s-color: #188CE8;
    --primery-logo-color: #000000;
    --secondary-logo-color: #FFFFFF;
    --primary-bg-button-color: #F5F4FA;
    --accent-br-button-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --primary-bg-color: #F5F5F5;
    --link-color: rgba(255, 255, 255, 0.6);
    --border-color: #eeeeee;

}

h1,
h2,
h3,
h4,
h5,
h6,
p { 
    margin-top: 0; 
    margin-bottom: 0; 
    padding: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

body {
    box-sizing: border-box;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    background-color: var(--secondary-logo-color);
}
ul {
    list-style: none;
}

/* logo */

.logo-header {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration-line: none;

    color: var(--primery-logo-color);
}
.logo-element {
    text-decoration-line: none;

    color: var(--accent-color);
}
.logo-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration-line: none;

    color: var(--secondary-logo-color);
}

.page-header {
    border: 1px solid #ECECEC;
}

.page-header .container {
    display: flex;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;
}

.logo-header {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.list-nav {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}
.link {
    margin-right: 50px;
}

.list-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contact {
    margin-left: 50px;
}


/* nav */

.list-nav .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line: none;

    color: var(--primary-text-color);
}
.list-nav .link:hover,
.list-nav .link:focus {
    color: var(--accent-color);
}
.link.current {
    color: var(--accent-color);
}
.list-contacts .contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line: none;

    color: var(--title-text-color);
}
.list-contacts .contact:hover,
.list-contacts .contact:focus {
    color: var(--accent-color);
}

/* buttons */

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 50px;
}

.button {
    margin-left: 8px;
}

.button {
    border-radius: 4px;
    padding: 6px 25px;
    min-width: 73px;
    border: none;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    color: var(--primary-text-color);
    background-color: var(--primary-bg-button-color);
}
.button:hover,
.button:focus {
    cursor: pointer;
    color: var(--accent-br-button-color);
    background-color: var(--accent-color);
}
.primery-button {
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 32px;
    border: none;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    color: var(--accent-br-button-color);
    background-color: var(--accent-color);
}
.primery-button:hover,
.primery-button:focus {
    cursor: pointer;
    color: var(--accent-br-button-color);
    background-color: var(--accent-s-color);
}

/* main секія 1 сторінка */

.main-title {
    background-color: var(--secondary-bg-color);
}
.main {
    margin-right: 300px;
    margin-left: 298px;

    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-br-button-color);
}

/* featur page */

.list-feature {
    background-color: var(--accent-br-button-color);
}

.set-feature,
.set-img,
.set-command {
    display: flex;
}
.set-feature {
    margin-top: 93px;
}

.feature-description {
    margin-top: 10px;
    margin-right: 30px;
}

.list-img {
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 94px;
}

.title-non {
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title,
.title-team {
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.title {
    margin-top: 118px;
}

.list-team {
    padding-top: 94px;
}

.set-command {
    margin-top: 50px;
    padding-bottom: 94px;
}



.feature {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.feature-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}


/* team page */

.set-command {
    display: flex;
    flex-wrap: wrap;
}
.card-team {
    width: 270px;
    margin-right: 30px;
}
.card-team:nth-child(4n) {
    margin-right: 0;
}



.list-team {
    background-color: var(--primary-bg-button-color);
}
.name {
    font-size: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.work {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* works */ 

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
}
.flex-element {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid var(--border-color);

    background-color: var(--accent-br-button-color);
}

.flex-element:nth-child(3n) {
    margin-right: 0;
}
.flex-element:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.content-box {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.work-list {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.description {
    font-size: 16px;
    line-height: 1.87;
    color: var(--title-text-color);
}

/* футер */

.footer {
    background-color: var(--secondary-bg-color);
}

.contacts-list {
    margin-top: 20px;
}

.contacts-list .contacts-item:not(:last-child) {
    margin-bottom: 9px;
}

.contacts-list .link-s-footer {
    line-height: 1.7;
    font-style: normal;
    text-decoration-line: none;
    color: var(--accent-br-button-color);
}
.contacts-list .link-footer {
    font-style: normal;
    text-decoration-line: none;
    color: var(--link-color);
}
.contacts-list .link-footer:hover,
.contacts-list .link-footer:focus {
    color: var(--accent-color);
}