/* колір основного тексту #757575 */
/* колір заголовків #212121 */
/* колір заголовку #000000 #2196F3 */
/* колір акценту #2196F3 */
/* колір акцентного тексту #FFFFFF */
/* колір фону #FFFFFF */
/* вторинний колір фону #F5F5F5 */
/* колір фону футер #2F303A */
/* колір тексту футер #FFFFFF*/

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primery-logo-color: #000000;
    --secondary-logo-color: #FFFFFF;
    --primary-bg-button-color: #F5F4FA;
    --accent-br-button-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --link-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--secondary-logo-color);
}
ul {
    list-style: none;
}

/* logo */

.logo-header {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration-line: none;
    color: var(--primery-logo-color);
}
.logo-element {
    text-decoration-line: none;
    color: var(--accent-color);
}
.logo-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration-line: none;
    color: var(--secondary-logo-color);
}

/* nav */

.list-nav .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line: none;
    color: var(--primary-text-color);
}
.list-nav .link:hover,
.list-nav .link:focus,
.list-nav .link:active {
    color: var(--accent-color);
}
.list-contacts .contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line: none;
    color: var(--title-text-color);
}
.list-contacts .contact:hover,
.list-contacts .contact:focus {
    color: var(--accent-color);
}

/* buttons */

.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-button-color);
}
.button:hover,
.button:focus {
    cursor: pointer;
    color: var(--accent-br-button-color);
    background-color: var(--accent-color);
}
.secondary-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-button-color);
}
.secondary-button:hover,
.secondary-button:focus {
    cursor: pointer;
    color: var(--accent-br-button-color);
    background-color: var(--accent-color);
}
/* main секія 1 сторінка */
.main-section {
    background-color: var(--secondary-bg-color);
}
.main {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--accent-br-button-color);
}
.title {
    font-size: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.features-title .featur {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.featur-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.name {
    font-size: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.work {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* works */ 

.work-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.description {
    font-size: 16px;
    line-height: 1.87;
    color: var(--title-text-color);
}

/* футер */

.footer {
    background-color: var(--secondary-bg-color);
}
.contacts .link {
    line-height: 1.7;
    font-style: normal;
    text-decoration-line: none;
    color: var(--link-color);
}
.contacts .link:hover {
    color: var(--secondary-logo-color);
}