.list-clients {
    // padding-top: 94px;
    // padding-bottom: 94px;
    background-color: var(--accent-br-button-color);
    @media screen and (min-width: 320px) {
        padding: 60px 0;
    }
    @media screen and (min-width: 768px) {
        padding: 60px 0;
    }
    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.title-clients {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.clients-item {
    display: flex;
    flex-wrap: wrap;
    // margin-top: 50px;
    gap: 30px;
    @media screen and (min-width: 320px) {
        padding-top: 30px;
    }
    @media screen and (min-width: 768px) {
        padding-top: 30px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 50px;
    }
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    border: 1px solid var(--clients-boxes);
    color: var(--clients-boxes);
    
    &:hover,
    &:focus {
        border-color: var(--accent-color);
        }
    @media screen and (min-width: 320px) {
        height: 92px;
        width: 210px;
    }
    @media screen and (min-width: 768px) {
        height: 92px;
        width: 226px;
    }
    @media screen and (min-width: 1200px) {
        height: 92px;
        width: 170px;
    }
}



.client-icon {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    fill: var(--clients-boxes);
    .client-link:hover &,
    .client-link:focus & {
        fill: var(--accent-color);
        }
}

