:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --accent-s-color: #188CE8;
    --primery-logo-color: #000000;
    --secondary-logo-color: #FFFFFF;
    --primary-bg-button-color: #F5F4FA;
    --accent-br-button-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --primary-bg-color: #F5F5F5;
    --link-color: rgba(255, 255, 255, 0.6);
    --border-color: #eeeeee;
    --shadow-color: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --bg-box-color: rgba(245, 244, 250, 1);
    --clients-boxes: rgba(175, 177, 184, 1);
    --footer-soc-color: rgba(255, 255, 255, 0.1);
    --box-shadow-one: 0px 1px 1px rgba(0, 0, 0, 0.12);
    --box-shadow-two: 0px 4px 4px rgba(0, 0, 0, 0.06);
    --box-shadow-three: 1px 4px 6px rgba(0, 0, 0, 0.16);
    --box-shadow-button-one: 0px 3px 1px rgba(0, 0, 0, 0.1);
    --box-shadow-button-two: 0px 1px 2px rgba(0, 0, 0, 0.08);
    --box-shadow-button-three: 0px 2px 2px rgba(0, 0, 0, 0.12);
    --box-shadow-pr-but: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --box-img: rgba(47, 48, 58, 0.8);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --backdrop-bt-color: rgba(0, 0, 0, 0.1);
    --stodio-text-color: rgba(33, 150, 243, 0.9);
    --input-color: rgba(33, 33, 33, 0.2);
}

body {
    box-sizing: border-box;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    background-color: var(--secondary-logo-color);
}